.grid-container {
    display: grid;
    grid-template-areas: 
        "item1 item1 item2"
        "item3 item6 item2"
        "item3 item4 item4"
        "item5 item5 item5";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#item-1 {
    grid-area: item1
}

#item-2 {
    grid-area: item2;
}
#item-3 {
    grid-area: item3;
}
#item-4 {
    grid-area: item4;
}
#item-5 {
    grid-area: item5;
}
#item-6 {
    grid-area: item6;
}