body{
    background-color: red;
    color: white;
}

@media (min-width: 250px) {
    body{
        background-color: lightblue;
        color: black;
    }
}

@media (min-width: 400px) {
    body{
        background-color: lightgreen;
        color: black;
    }
}


