.grid-container{
    display: grid;
    grid-template-areas:
        "nav main sidebar"
        "nav footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 4fr 1fr;
    height: 100vh;
}

nav{
    grid-area: nav;
    border: 2px solid blue;
}

main{
    grid-area: main;
    border: 2px solid green;
}

footer{
    grid-area: footer;
    border: 2px solid red;
}

aside{
    grid-area: sidebar;
    border: 2px solid orange;
}