.flex-container{
    display: flex;
}

.flex-container > div{
    border: 2px solid green;
    text-align: center;
}

#flex-item-1{
    flex-basis: 50%;
}

#flex-item-2,
#flex-item-3{
    flex-basis: 25%;
}